/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    padding: 50px 0;
    background-color: cornflowerblue;
}

button , input {
    border-radius: 10px;
    padding: 5px;
}



/* HEADER */


/* MAIN */


/* FOOTER */